<div class="header">
	<div class="header-content row">
		<div class="header-content-logo col-lg-3">
			<img [src]="logo_path">
		</div>
		<div class="header-data col-lg-7">
			<h1>Доставка суші та піцци львів</h1>
			<div class="header-data-phones">
			 	<ul>
					<!-- <li>
						<fa name="star"></fa>
						<span>+3&#8199;8&#8199;(099)&#8199;99&#8199;99&#8199;999</span>
					<li>
						<fa name="star"></fa>
						<span>+3&#8199;8&#8199;(099)&#8199;99&#8199;99&#8199;999</span>
					</li>
					<li>
						<fa name="star"></fa>
						<span>+3&#8199;8&#8199;(099)&#8199;99&#8199;99&#8199;999</span>
					</li> -->

					<li *ngFor="let phone of globals.contact_content">
						<fa name="star"></fa>
						<span>{{ phone.phone | phoneFormat }}</span>
					</li>
				</ul>
				<a class="header-data-callback" (click)="show_callback()">Замовити дзвінок</a>
			</div>
			<div class="header-data-info">
				<span>Працюємо для вас щодня</span><br>
				<span>з 11:00 до 23:00</span><br>
				<span class="header-data-free">Безкоштовна доставка</span><br>
				<span>Мінімальне замовлення 150грн</span>
			</div>
		</div>
		<div class="header-content-rightnav col-lg-2">
			<ul>
				<li *ngFor="let page of right_nav_list">
					<embed *ngIf="globals.current_page.id == page.id"  src="/assets/svg/active.svg" class="active-right-menu">
					<span id="page-{{ page.id }}" (click)="change_page(page.id)">{{ page.title }}</span>
				</li>
			</ul>
		</div>
	</div>
	<div class="header-bottomnav">
		<ul>
			<li *ngFor="let category of bottom_nav_list">
				<a href="#{{ category.slug }}-target"><span id="category-{{ category.slug }}" (click)="change_categories(category.id)">
					{{ category.name }}
				</span></a>
				<span *ngIf="globals.current_category.id == category.id" class="active-bottom-menu"></span>
			</li>
		</ul>
	</div>
</div>