<div class="footer">
	<div class="footer-banner">
		<div class="footer-banner-bg">
			<h1 class="footer-banner-title">Підпишись на email розсилку і отримай знижку</h1>
			<h1 class="footer-banner-percent">- 15%</h1>
			<button class="footer-banner-subscribe" (click)="show_subs()">підписатись</button>
		</div>

	</div>
	<div class="footer-description">
		<h3>Доставка суші і піцци Львів</h3>
		<p>Існує багато варіацій уривків з Lorem Ipsum, але більшість з них зазнала певних змін на кшталт жартівливих вставок або змішування слів, які навіть не виглядають правдоподібно. Якщо ви збираєтесь використовувати Lorem Ipsum, ви маєте упевнитись в тому, що всередині тексту не приховано нічого, що могло б викликати у читача конфуз. 
		</p><p>Більшість відомих генераторів Lorem Ipsum в Мережі генерують текст шляхом повторення наперед заданих послідовностей Lorem Ipsum. Принципова відмінність цього генератора робить його першим справжнім генератором Lorem Ipsum. Він використовує словник з більш як 200 слів латини та цілий набір моделей речень - це дозволяє генерувати Lorem Ipsum, який виглядає осмислено. Таким чином, згенерований Lorem Ipsum не міститиме повторів, жартів, нехарактерних для латини слів і т.ін.</p>
		<div class="footer-description-stars">

			<fieldset class="rating">
		    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
		    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
		    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
		    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
		    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
		    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
		    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
		    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
		    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
		    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
		</fieldset>

			<!-- <fa class="active" name="star"></fa>
			<fa class="active" name="star"></fa>
			<fa class="active" name="star"></fa>
			<fa class="active" name="star"></fa>
			<fa class="active" name="star"></fa> -->
		</div>
		<div class="footer-description-r">
			Доставка суші і піцци по Львову <br>
			Рейтинг 5 із 5 Голосів: 1488
		</div>
	</div>

	<div class="footer-bottom row">
		<div class="col-md-4 col-lg-4 footer-bottom-left">
			<h4>Піцца і суші у Львові</h4>
			<h1>Yakudza</h1>
		</div>
		<div class="col-md-4 col-lg-4 footer-bottom-center">
			<p>приймаємо до оплати</p>
			<div class="footer-bottom-cards">
				<img src="{{ images_path.visa }}">
				<img src="{{ images_path.visae }}">
				<img src="{{ images_path.mc }}">
			</div>
		</div>
		<div class="col-md-4 col-lg-4 footer-bottom-right">
			<p>Ми в соціальних мережах</p>
			<div class="footer-bottom-social">
				<div class="footer-bottom-social-wrapper" *ngFor="let social of globals.social_content">
					<a href="{{ social.link }}"><fa class="{{ social.icon }}" name="{{ social.icon }}"></fa></a>
				</div>
				<!-- <fa class="facebook" name="facebook"></fa>
				<fa class="vk" name="vk"></fa>
				<fa class="twitter" name="twitter"></fa>
				<fa class="google-plus" name="google-plus"></fa> -->
			</div>
		</div>
		<div class="footer-bottom-bg"></div>
	</div>
</div>