<div class="footer">
	<div class="footer-banner">
		<h1 class="footer-banner-title">title</h1>
		<button class="footer-banner-subscribe">Subscribe</button>
	</div>
	<div class="footer-description">
		<h3>Suhsi!!!!</h3>
		<p>wefwef wef we f wef wef w ef wef</p>
		<div class="footer-description-stars"></div>
		<div class="footer-description-r"></div>
	</div>
	<div class="footer-bottom row">
		<div class="col-md-4 col-lg-4">
			<span>Sushi in lviv</span>
			<span>Yakudza</span>
		</div>
		<div class="col-md-4 col-lg-4">
			<span>to pay</span>
			<div class="footer-bottom-cards"></div>
		</div>
		<div class="col-md-4 col-lg-4">
			<span>social</span>
			<div class="footer-bottom-social"></div>
		</div>
	</div>
</div>