.footer {
	// margin-bottom: 33px;
	color: #fff;
	&-banner {

		position: relative;
		height: 351px;
		padding-top: 53px;
		text-align: center;
		background-image: url("/assets/img/bottom_image.png");

		&-bg {
			top: 0;
		    left: -5%;
		    position: absolute;
		    width: 100%;
		    left: 0;
    		height: 351px;
		    background-color: rgba(82,82,82,0.65);
		}

		&-title {
			font-family: 'Times new roman';
			font-size: 39px;
		}
		&-percent {
			margin-top: 23px;
			font-size: 49px;
		    font-family: 'Times new roman';
		}
		&-subscribe {
			padding: 13px 50px;
		    margin-top: 213px;
		    color: #fff;
		    background-color: #faa;
		    font-weight: bold;
		    font-size: 17px;
		    border: 1px solid #fff;
		}
	}

	&-description {
		margin-bottom: 78px;
		h3 {
			padding-top: 25px;
			margin-bottom: 25px;
		}
		p {
			font-size: 14px;
		}
		&-stars {
			margin-top: 46px;
			font-size: 26px;
			.active {

			}
		}

		&-r {
			font-size: 13px;
		}
	}

	&-bottom {
		position: relative;
		&-left {
			h4 {
				font-size: 15px;
			} 
			h1 {
				font-size: 35px;
				text-transform: uppercase;
			}
		}
		&-center {
			padding-top: 6px;
			text-align: center;
			p {
				margin-bottom: 23px;
				font-size: 15px;
			}
			img {
				margin: 0 4.5px;
			}
		}
		&-right {
			padding-top: 9px;
			text-align: center;

			p {
				margin-bottom: 15px;
				font-size: 15px;
			}
		}
		&-social {
			fa {
				margin: 0 5px;
				font-size: 35px;
				i {
					
				}
			}
			.facebook {
				color: #33f;
			}
			.vk {
				color: #00f;
			}
			.twitter {
				color: #88f;
			}
			.google-plus {
				color: #fcc;
			}
		}
		&-bg {
			position: absolute;
			left: -100%;
			width: 300%;
			height: 100%;
			background-color: #1a1b13;
			z-index: -1;
		}
	}
}