<div class="footer">
	<div class="footer-banner">
		<div class="footer-banner-bg">
			<h1 class="footer-banner-title">Підпишись на email розсилку і отримай знижку</h1>
			<h1 class="footer-banner-percent">- 15%</h1>
			<button class="footer-banner-subscribe" (click)="show_subs()">підписатись</button>
		</div>

	</div>
	<div class="footer-description">
		<h3>Доставка суші і піцци Львів</h3>
		<p>Існує багато варіацій уривків з Lorem Ipsum, але більшість з них зазнала певних змін на кшталт жартівливих вставок або змішування слів, які навіть не виглядають правдоподібно. Якщо ви збираєтесь використовувати Lorem Ipsum, ви маєте упевнитись в тому, що всередині тексту не приховано нічого, що могло б викликати у читача конфуз. 
		</p><p>Більшість відомих генераторів Lorem Ipsum в Мережі генерують текст шляхом повторення наперед заданих послідовностей Lorem Ipsum. Принципова відмінність цього генератора робить його першим справжнім генератором Lorem Ipsum. Він використовує словник з більш як 200 слів латини та цілий набір моделей речень - це дозволяє генерувати Lorem Ipsum, який виглядає осмислено. Таким чином, згенерований Lorem Ipsum не міститиме повторів, жартів, нехарактерних для латини слів і т.ін.</p>
		<div class="footer-description-stars">
			<fa class="active" name="star"></fa>
			<fa class="active" name="star"></fa>
			<fa class="active" name="star"></fa>
			<fa class="active" name="star"></fa>
			<fa class="active" name="star"></fa>
		</div>
		<div class="footer-description-r">
			Доставка суші і піцци по Львову <br>
			Рейтинг 5 із 5 Голосів: 1488
		</div>
	</div>

	<div class="footer-bottom row">
		<div class="col-md-4 col-lg-4 footer-bottom-left">
			<h4>Піцца і суші у Львові</h4>
			<h1>Yakudza</h1>
		</div>
		<div class="col-md-4 col-lg-4 footer-bottom-center">
			<p>приймаємо до оплати</p>
			<div class="footer-bottom-cards">
				<img src="{{ images_path.visa }}">
				<img src="{{ images_path.visae }}">
				<img src="{{ images_path.mc }}">
			</div>
		</div>
		<div class="col-md-4 col-lg-4 footer-bottom-right">
			<p>Ми в соціальних мережах</p>
			<div class="footer-bottom-social">
				<fa class="facebook" name="facebook"></fa>
				<fa class="vk" name="vk"></fa>
				<fa class="twitter" name="twitter"></fa>
				<fa class="google-plus" name="google-plus"></fa>
			</div>
		</div>
		<div class="footer-bottom-bg"></div>
	</div>
</div>