@import "../../assets/bootstrap-sass/variables";

$green : #3ca930;
$red : #b42e23;


body {

}
.body {
	margin-bottom: 72px;
}
.active {
	&-add {
		color: green;
	}
	&-remove {
		color: red;
	}
}

.proposition {
	margin-top: 39px;
}
.cart {
	&-wrapper.top {
		position: fixed;
		top: 30px;
		z-index: -1;
	}
	&-wrapper {
		width: 328px;
		margin-top: 56px;
		background-color: #080806;
		padding-bottom: 29px;
		border: 1px solid #444;
		border-radius: 5px;
	}
	&-head {
		position: relative;
		text-align: center;
		height: 76px;
		&-img {
			position: absolute;
		    top: -31px;
		    left: 104px;
		    width: 121px;
		}
		&-text {
			color: #fff;
		    font-family: times new roman;
		    font-size: 26px;
		    text-transform: uppercase;
		    line-height: 43px;
		    background-color: $body-bg;
		    position: absolute;
		    top: -13px;
		    left: -3px;
    		width: 102%;
		}
		&-sticks {
			position: absolute;
			top: 53px;
    		left: 133px;
    		width: 62px;
		}
	}
	&-item {
		color: #fff;
		margin: 24px 19px 10px;
	    position: relative;
	    border: 1px solid green;
	    border-radius: 5px;
	    height: 78px;
	    animation: slide-up 0.7s ease;
		&-close {
			position: absolute;
		    right: -1px;
		    top: -1px;
		    width: 10px;
		    height: 10px;
		    background-color: #1a1b13;
		    cursor: pointer;
		    embed {
		    	width: 12px;
		    	height: 12px;
		    }
		    &-click {
		    	position: absolute;
		    	height: 10px;
		    	width: 10px;
		    }
		}
		&-name {
			font-weight: bold;
		    font-size: 14px;
		    margin-top: 12px;
		    margin-left: 14px;
		}
		&-counter {
			display: inline-block;
			position: relative;
		    width: 100px;
		    margin-top: 10px;
		    margin-left: 21px;
		    &-click {
		    	height: 13px;
			    width: 13px;
			    position: absolute;
			    top: 3px;
			    // left: 0;
		    }
		    * {
		    	cursor: pointer;
			    display: inline-block;
			    width: 10px;
			    height: 10px;
		    }
		    // &-plus {
		    // 	cursor: pointer;
		    // 	display: inline-block;
		    // }
		    // &-minus {
		    // 	cursor: pointer;
		    // 	display: inline-block;
		    // }
		}
		&-price {
			display: inline-block;
		    width: 141px;
		    text-align: right;
		    font-weight: bold;
		}
	}
	&-total {
		text-align: center;
	    color: #fff;
	    font-weight: bold;
	    margin-top: 25px;
	}
	&-button {
		text-align: center;
		margin-top: 27px;
		button {
			padding: 6px 39px;
		    background-color: $red;
		    border: none;
		    color: #fff;
		    font-weight: bold;
		}
	}
}

.product {
	padding-top: 57px;
	&-title {
		h1 {
			font-family: 'Times new roman';
			font-size: 26px;
			color: #fff;
			text-transform: uppercase;
		}
	}

	&-filters {
		display: inline-block;
		border: 1px solid #444;
    	border-radius: 5px;
		&-item {
			position: relative;
			display: inline-block;
			width: 85px;
			text-align: center;
			color: #fff;
			padding-bottom: 3px;
			fa {
				display: block;
			}
			img {
				width: 13px;
			}
			&-add {
				font-size: 20px;
			}
			&-remove {
				font-size: 17px;
				.cls-1 {
					fill: red;
					fill-rule: none;
					filter: none;
				}
			}
			&-hover {
				width: 20px;
			    height: 20px;
			    position: absolute;
			    left: 32px;
			    bottom: 2px;
			}
			p {
				font-weight: bold;
				text-align: center;
				margin-bottom: 0;
			}

			&-add {}
			&-name {
				font-family: "Open sans";
				color: #fff;
			}
			&-remove {

			}
		}
	}
	&-area {
		padding: 9px 8px;

		&-item {
			padding: 5px 6px;
			&-inner {
				min-height: 297px;
				padding: 10px 11px;
				border: 1px solid #555;
				img {
					max-width: 225px;
				}
			}
			&-labels {
				height: 20px;
				width: 100%;
			}
			&-label {
				display: inline-block;
				float: right;
				img {
					width: 16px;
					height: 16px;
					margin-bottom: 4px;
				}
			}
			&-title {
				margin-top: 4px;
				margin-bottom: 6px;
				color: #fe683a;
				font-size: 15px;
    			text-align: center;
			}
			&-weight {
				color: #555;
				font-size: 12px;
			}
			&-pieces {
				float: right;
				color: #555;
				font-size: 12px;
			}
			&-description {
				margin-top: 10px;
				font-size: 13px;
				color: #ccc;
			}
			&-bottom {
				margin: 0 8px 0 0;
			}
			&-price {
				color: #fe683a;
				font-size: 18px;
			    display: inline-block;
			    margin-top: 9px;
    			margin-bottom: 10px;
			}
			&-buy {
				color: #ccc;
				background-color: #fe683a;
				float: right;
			    font-size: 15px;
			    font-family: "Open Sans";
			    font-weight: bold;
			    padding: 7px 22px;
			    border: none;
			}
		}
	}
}

.shares {
	color: #fff;
	text-align: center;
	h1 {
		margin-bottom: 20px;
		font-family: "Times New Roman";
	}
	&-block {
		margin-bottom: 20px;
		&-text {
			margin-bottom: 20px;
		}
		&-image {

		}
	}
}

.documents {
	color: #fff;
	&-wrapper {

	}
	&-header {
		text-align: center;
		font-family: "Times New Roman";
	}
	&-content {
		padding: 24px;
		background-color: #1a1b13;
		border: 1px solid #777;
		border-radius: 5px;
		&-header {

		}
		&-text {

		}
		&-images {
			img {
				margin: 24px 0;
			}
		}
	}
}

.howTo {
	color: #fff;
	&-header {
		margin-bottom: 24px;
		text-align: center;
		font-family: "Times New Roman";
	}
	&-content {
		background-color: #1a1b13;
		border: 1px solid #777;
		border-radius: 5px;
		text-align: center;
	}
	&-block {
		margin: 24px;
		padding-bottom: 16px;
		border-bottom: 2px dotted #777;
		&-icon {
			margin-top: 41px;
    		width: 30%;
		}
		&-header {
			margin-bottom: 16px;
			color: #f00;
		}
		
	}
}
.contacts {
	color: #fff;
	text-align: center;
	&-header {
		font-family: "Times NEw Roman";
	}
	&-content {
		background-color: #1a1b13;
		border: 1px solid #777;
		border-radius: 5px;
		&-social {
			div {
				display: inline-block;
				margin:0 9px;
			}
			fa {
				font-size: 34px;
			}
		}
		&-logo {
			margin-bottom: 14px;
			img {
				width: 256px;
			}
		}
		&-mail {
			margin-bottom: 14px;
		}
	}
}

.feedback {
	color: #fff;
	&-header {
		text-align: center;
		font-family: "Times new roman";
	    font-size: 35px;
	    text-transform: uppercase;
	    margin-bottom: 21px;
		&-wrapper {
			width: 800px;
		    margin: auto;
		    padding: 24px 47px;
		    background-color: #1a1b13;
		    border: 1px solid $green;
		    border-radius: 5px;
		    margin-bottom: 105px;
			&-header {
				text-align: center;
			    font-family: "times new roman";
			    font-size: 25px;
			    text-transform: uppercase;
			    margin-top: 34px;
			    color: #36a140;
			    margin-bottom: 49px;
			}
		}
	}
	&-form {
		margin-bottom: 24px;
		padding: 0 38px;
		label {
			font-size: 23px;
			margin-bottom: 13px;
		}
		input {
			display: block;
		    width: 100%;
		    height: 45px;
		    margin-bottom: 27px;
		}
		textarea {
			display: block;
		    width: 100%;
		    height: 164px;
		}
		button {
			padding: 6px 93px;
		    margin-top: 29px;
		    color: #fff;
		    font-weight: bold;
		    font-size: 21px;
		    border: none;
		}
	}
	&-comments {
		width: 100%;
		margin: auto;
	}
	&-comment {
		padding: 0 53px;
		margin-bottom: 23px;
		&-author {
			text-align: center;
			font-style: italic;
		}
		&-body {
			background-color: #1a1b13;
			border: 1px solid #777;
			border-radius: 5px;
			padding: 32px;
		}
	}
}

.call-modal, .message-modal {
	position : fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	z-index: 1;
	overflow-y: scroll;
	&-bg {

	}
	&-form {
		width: 853px;
		margin: auto;
    	margin-top: 10%;
		border: 1px solid #777;
		border-radius: 5px;
		background-color: #1a1b13;
		color: #fff;
		&-cell {
			margin-bottom: 16px;
		}
		&-info {
			margin-bottom: 30px;
   			display: block;
		}
		form {
			padding: 0 63px;
		}
		&-X {
			text-align: right;
			padding-right: 13px;
			fa {
				font-size: 32px;
				color: green;
			}
		}
		label {
			font-size: 24px;
			font-style: italic;
			font-weight: 400;
		}
		span {
			font-size: 16px;
			font-style: italic;
		}
		input {
			display: block;
			width: 100%;
			height: 46px;
			margin-bottom: 32px;
		}
		button {
			display: block;
			height: 42px;
		    width: 353px;
		    font-size: 23px;
		    background-color: green;
		    font-weight: bold;
		    border: none;
		    margin-bottom: 32px;
		}
	}
}

.subs-modal {
	position : fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	z-index: 1;
	overflow-y: scroll;

	&-X {
		font-size: 26px;
		text-align: right;
		color: $green;
		cursor: pointer;
	}

	&-form {
		width: 854px;
	    margin: auto;
	    margin-top: 10%;
    	padding: 8px 39px;
		border: 1px solid #777;
		border-radius: 5px;
		background-color: #1a1b13;
		color: #fff;
		
		label {
			display: block;
		    margin-top: 52px;
		    font-style: italic;
		    margin-bottom: 9px;
		    font-size: 24px;
		}
		span {
			font-size: 20px;
		    font-style: italic;
		    color: red;
		}
		input {
			display: block;
			margin-bottom: 59px;
			width: 100%;
    		height: 45px;
		}
		button {
			display: block;
		    width: 209px;
    		padding: 16px;
		    background-color: red;
		    font-weight: bold;
		    border: none;
		    margin-bottom: 32px;
		    border: 1px solid red;
		}
	}
}
.prod-modal {
	// overflow: scroll;
	position : fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	z-index: 1;
	overflow-y: scroll;
	&-X {
		font-size: 26px;
		text-align: right;
		color: $green;
		cursor: pointer;
	}
	&-header {
		padding-left: 106px;
		color: #fe683a;
		margin-top: 3px;
	}
	&-wrapper {
		position: relative;
		width: 964px;
		margin: auto;
    	margin-top: 5%;
    	padding: 8px 24px;
		border: 1px solid #777;
		border-radius: 5px;
		background-color: #1a1b13;
		color: #fff;
	}
	&-image {
		text-align: center;
		padding-bottom: 18px;
		img {
			width: 60%;
		}
	}
	&-info {
		color: #ccc;
		p {
			margin-bottom: 18px;
			span {
				margin-left: 108px;
    			font-size: 15px;
			}
		}
	}
	&-text {
		padding-left: 107px;
		margin-bottom: 35px;
		font-style: italic;
	}
	&-price {
		display: inline-block;
    	margin-left: 109px;
		p {
			font-size: 26px;
			color: #fe683a;
		}
	}
	&-button {
		button {
			background-color: #fe683a;
			border: none;
			padding: 10px 50px;
		}
		margin-left: 77px;
		display: inline-block;
		
	}
	&-arrows {
		position: absolute;
	    top: 241px;
	    width: 920px;
	    // left: 11%;
	    font-size: 84px;
	    &-left {
	    	float: left;
	    	cursor: pointer;
	    }
	    &-right {
	    	float: right;
	    	cursor: pointer;
	    }
	}
}

/* Helpers classes */
.modal {
	// display: none;
}
.red {
	color: #f00;
}
.green-bg {
	background-color: $green;
}

.red-bg {
	background-color: $red;
}
.breadcrumb {
	background: none;
	color: #fff;
	&-separator {
		padding: 0 12px;
	}
}
.go-to-main {
	cursor: pointer;
}

input, textarea {
	color: #000;
	font-size: 24px;
}

.order {
	color: #fff;
	margin-left: 0;
    padding-left: 15px;
    margin-bottom: 45px;
	&-header {
		font-weight: bold;
	    font-family: "Times new roman";
	    font-size: 33px;
	    margin-top: 0;
	    margin-bottom: 27px;
	}
	&-list {
		
	}
	&-item {
		background-color: #1a1b13;
		border: 1px solid #444;
		border-radius: 5px;
		margin-left: 0;
		padding-top: 7px;
		padding-bottom: 7px;
		margin-bottom: 21px;
		&-close {
			position: relative;
			text-align: right;
			padding-right: 7px;
			&-img {
				width: 13px;
				height: 13px;
			}
			&-click {
				position: absolute;
				width: 20px;
				height: 20px;
				right: 4px;
			    top: -2px;
			    cursor: pointer;
			}
		}
		&-img {
			img {
				max-width: 225px;
			}
		}
		&-content {
			padding-top: 22px;
    		padding-left: 55px;
    		&-title {
    			font-weight: bold;
    			color: #f17138;
    			margin-bottom: 20px;
    		}
    		&-description {
    			font-style: italic;
    			font-size: 13px;
    		}
		}
		&-counter {
			position: relative;
			* {
				display: inline-block;
				embed {
					width: 13px;
				}
			}
			&-click {
				top: 0;
				height: 13px;
			    width: 13px;
			    position: absolute;
			    cursor: pointer;
			}
		}
		&-info {
			padding-top: 11px;
	    	padding-left: 45px;
	    	&-info {
	    		color: #ccc;
	    		font-style: italic;
	    		margin-bottom: 74px;
	    	}
	    	&-price {
	    		font-size: 21px;
			    font-weight: bold;
			    color: #f17138;
			    margin-left: 39px;
	    	}
		}
	}

	&-propos {
		&-item {
		background-color: #1a1b13;
		border: 1px solid #444;
		border-radius: 5px;
		position: relative;
			&-right {
				position: absolute;
				font-size: 26px;
				top: 102px;
			    right: 25px;
			    color: #333;
			    cursor: pointer;
			}
			&-left {
				position: absolute;
				font-size: 26px;
			    top: 102px;
			    left: 25px;
			    color: #333;
			    cursor: pointer;
			}
			img {
				width: 229px;
				margin: auto;
    			display: block;
				}
			}
		&-price {
			color: #f17138;
			margin-top: 25px;
		    margin-left: 24px;
		    font-size: 25px;
		    display: inline-block;
		    font-weight: bold;
		}

		h2 {
			font-size: 22px;
    		font-style: italic;
		}
		h3 {
			color: #f17138;
		    margin: 0;
		    font-size: 16px;
		    text-align: center;
		}
		&-button {
			display: inline-block;
		    margin-left: 36px;
		    background-color: $green;
		    padding: 7px 17px;
		    margin-bottom: 20px;
		    font-weight: bold;
		    cursor: pointer;
		}

	}

	&-adds {
		background-color: #1a1b13;
		border: 1px solid #444;
		border-radius: 5px;
		position: relative;
	}
	&-form {
		margin-bottom: 24px;
		padding: 0 38px;
		label {
			font-size: 23px;
			margin-bottom: 13px;
		}
		input {
			display: block;
		    width: 100%;
		    height: 45px;
		    margin-bottom: 27px;
		}
		textarea {
			display: block;
		    width: 100%;
		    height: 164px;
		}
		button {
		    margin-top: 29px;
		    color: #fff;
		    font-weight: bold;
		    font-size: 21px;
		}
		&-button {
			&-green {
				background: none;
			    border: 3px solid $green;
			    color: $green;
			    padding: 3px 70px;
			}
			&-red {
				border: none;
				padding: 6px 93px;
			}
		}
	}
	

}



.facebook {
	color: #3b5998;
}
.vk {
	color: #4c75a3;
}
.twitter {
	color: #00aced;
}
.google-plus {
	color: #dd4b39;
}