<div class="body">
	<div class="proposition row" *ngIf="globals.current_page.title == 'main'">
		<div class="col-md-4 col-lg-4">
			<img src="{{ shares_path }}">
		</div>
		<div class="col-md-4 col-lg-4">
			<img src="{{ shares_path }}">
		</div>
		<div class="col-md-4 col-lg-4">
			<img src="{{ shares_path }}">
		</div>
	</div>
	<div *ngIf="globals.current_page.title != 'main'" class="breadcrumb">
		<p>
			<span class="go-to-main" (click)="go_to_main()">Головна</span> <span class="breadcrumb-separator">></span> <span class="red">{{ globals.current_page.title }}</span>
		</p>
	</div>
	<div class=row>
		<div *ngIf="globals.current_page.title == 'main'" class="cart col-lg-4 col-md-4">
		<div class="cart-wrapper">
			<div class="cart-head">
				<embed class="cart-head-img" src="/assets/svg/elips.svg">
				<h1 class="cart-head-text">Ваш кошик</h1>
				<embed class="cart-head-sticks" src="/assets/svg/stick.svg">
			</div>

			<div class="cart-item" *ngFor="let item of cart.items; let i = index;">
				<div class="cart-item-close">
					<embed class="cart-item-close" src="/assets/svg/X.svg">
					<div class="cart-item-close-click" (click)="remove_cart_item(i)"></div>
				</div>
				<div class="cart-item-name">{{ item.item_name }}</div>
				<div class="cart-item-counter">
					<div class="cart-item-counter-minus">
						<embed class="cart-item-counter-minus" src="/assets/svg/minus.svg">
					<div class="cart-item-counter-click" (click)="minus_cart_item(i)"></div>
					</div>
					<div class="cart-item-counter-count">{{ item.item_count }}</div>
					<div class="cart-item-counter-plus">
						<embed class="cart-item-counter-plus" src="/assets/svg/plus.svg">
					<div class="cart-item-counter-click" (click)="plus_cart_item(i)"></div>
					</div>
				</div>
				<div class="cart-item-price">{{ item.item_total }} грн.</div>
			</div>

			<div class="cart-total">
				<span>ВСЬОГО: {{ cart.total | to_fixed : 2 }} грн.</span>
			</div>
			<div class="cart-button" (click)="show_order()">
				<button>Оформити замовлення</button>
			</div>
		</div>
					
	</div>

		<!-- Product section -->
		<div *ngIf="globals.current_page.title == 'main'" class="product col-lg-8 col-md-8">
			
			<!-- Filters -->
			<div class="product-filters">
				<div *ngFor="let filter of filters_list; let i = index" class="product-filters-item">
					<fa *ngIf='check_filter_add([filter.id], false)' class="product-filters-item-add active-add" id="{{ i }}" name="heart-o" (click)="add_filter($event, filter.id)"></fa>
					<fa *ngIf='!check_filter_add([filter.id], false)' class="product-filters-item-add" id="{{ i }}" name="heart-o" (click)="add_filter($event, filter.id)"></fa>
					<p class="product-filters-item-name">{{ filter.name }}</p>
					<!-- <fa class="product-filters-item-remove {{ filter.class_remove }}" id="{{ i }}" name="times" (click)="remove_filter($event)"></fa> -->
					<div (click)="remove_filter($event, filter.id)">
						<embed *ngIf='check_filter_remove([filter.id], false)' src="/assets/svg/X_red.svg" class="product-filters-item-remove" id="{{ i }}">
					</div>

					<div (click)="remove_filter($event, filter.id)">
						<embed *ngIf='!check_filter_remove([filter.id], false)' src="/assets/svg/X.svg" class="product-filters-item-remove" id="{{ i }}">
					</div>

					<div class="product-filters-item-hover" (click)="remove_filter($event, filter.id)"></div>
					
					
					
				</div>
			</div>

			<div *ngFor="let category of globals.categories_filter" class="rols">

				<div *ngIf="category.products.length" class="product-title" id="{{ category.slug }}-target">
					<h1>{{ category.name }}</h1>
				</div>

				<div *ngIf="category.products.length" class="product-area row">
					<div *ngFor="let product of category.products"
					 class="col-lg-4 col-md-4 product-area-item">
					  <!-- <div *ngIf='check_filter_add(product.tags, false, true)'> -->
					  <div>
					  	<div class="product-area-item-inner">
						<img (click)="show_product(product.id)" src="{{globals.backend_domain}}{{ product.image }}">
						<h3 class="product-area-item-title">{{ product.title }}</h3>
						<div>
							<span class="product-area-item-weight">{{product.weight}}г</span>
							<span *ngIf="product.pieces" class="product-area-item-pieces">{{product.pieces}} кусків</span>
						</div>
						
						<p class="product-area-item-description">{{ product.description }}</p>
						<div class="product-area-item-bottom">
							<span class="product-area-item-price">{{ product.price }}</span>
							<button (click)="add_cart_item(product.id)" class="product-area-item-buy">Замовити</button>
						</div>
					  </div>
					  </div>
					</div>
				</div>
			</div>
		</div>

		<!-- Shares section -->
		<div *ngIf="globals.current_page.title == 'Акції'" class="shares col-lg-12 col-md-12 col-sm-12">
			<h1>Акція</h1>
			<div class="shares-block" *ngFor="let share of globals.shares_content">
				<p class="shares-block-text">{{ share.content }}</p>
				<img class="shares-block-image" src="{{ globals.backend_domain}}{{ share.image }}">
			</div>
		</div>

		<!-- Documents section -->
		<div *ngIf="globals.current_page.title == 'Документи'" class="documents col-lg-12 col-md-12">
			<div class="documents-wrapper">
				<h1 class="documents-header">Документи</h1>
				<div class="documents-content" *ngFor="let document of globals.document_content">
					<h3 class="documents-content-header">
						{{ document.title }}
					</h3>
					<p class="documents-content-text">
						{{ document.content }}
					</p>
					<div class="row documents-content-images">
						<div class="col-lg-4 col-md-4 col-sm-6">
							<img src="{{ globals.backend_domain}}{{ document.image_1 }}">
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<img src="{{ globals.backend_domain}}{{ document.image_2 }}">
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<img src="{{ globals.backend_domain}}{{ document.image_3 }}">
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<img src="{{ globals.backend_domain}}{{ document.image_4 }}">
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<img src="{{ globals.backend_domain}}{{ document.image_5 }}">
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<img src="{{ globals.backend_domain}}{{ document.image_6 }}">
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- HowTo section -->
		<div *ngIf="globals.current_page.title == 'Як замовити'" class="howTo col-lg-12 col-md-12 col-sm-12">
			<h1 class="howTo-header">Як замовити</h1>
			<div class="howTo-content">

				<div class="row howTo-block" *ngFor="let ht of globals.how_to_content">
					<div class="col-lg-6 col-md-6 col-sm-6">
						<img class="howTo-block-icon" src="{{ globals.backend_domain}}{{ ht.icon }}">
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="howTo-block-header">{{ ht.title }}</div>
						<div class="howTo-block-text">{{ ht.content }}</div>
					</div>
				</div>

			</div>
		</div>

		<!-- Contacts section -->
		<div *ngIf="globals.current_page.title == 'Контакти'" class="contacts col-lg-12 col-md-12">
			<div class="contacts-wrapper">
				<h1 class="contacts-header">Контакти</h1>
				<div class="contacts-content">
					<div class="contacts-content-social">
					<div *ngFor="let social of globals.social_content">
						<a href="{{ social.link }}"><fa class="{{ social.icon }}" name="{{ social.icon }}"></fa></a>
					</div>
						
					</div>
					<h3 class="contacts-content-header red">
						Для замовлення телефонуйте
					</h3>
					<p class="contacts-content-text" *ngFor='let phone of globals.contact_content'>
						{{ phone.phone | phoneFormat }}
					</p>
					<div class="contacts-content-logo">
						<img src="{{ logo_path }}">
					</div>
					<div *ngFor="let email of globals.email_content" class="contacts-content-mail">
						{{ email.email }}
					</div>
				</div>
			</div>
		</div>

		<!-- Feedback section -->
		<div *ngIf="globals.current_page.title == 'Відгуки'" class="feedback col-lg-12 col-md-12 col-sm-12">
			<div class="feedback-form">
				<h2 class="feedback-header">Відгуки</h2>
				<div class="feedback-header-wrapper">
				<h3 class="feedback-header-wrapper-header green">
					Залишити відгук
				</h3>
					<form id="feedback-from">
						<label for="feedback-form-name">
						Введіть ваше ім"я</label>
						<input id="feedback-form-name" type="text" name="feedback-form-name">
						<label for="feedback-form-cell">
						Введіть номер телефону</label>
						<input id="feedback-form-cell" type="number" name="feedback-form-cell">
						<label for="feedback-form-text">
						Текст відгуку</label>
						<textarea id="feedback-form-text" type="text" name="feedback-form-text"></textarea>
						<button (click)="create_feedback('feedback-from')" type="button" class="green-bg">Відправити відгук</button>
					</form>
				</div>
			</div>
			<div class="feedback-comments">
				<!-- Single comment -->
				<div class="feedback-comment row" *ngFor="let feedback of globals.feedback_content">
					<div class="feedback-comment-author col-sm-2">
						<p class="feedback-comment-author-name">
							{{ feedback.author }}
						</p>
						<p class="feedback-comment-author-date">
							{{ feedback.created_at }}
						</p>
					</div>
					<div class="feedback-comment-body col-sm-offset-1 col-sm-9">
						<p>
							{{ feedback.content }}
						</p>
					</div>
				</div>

			</div>
		</div>

		<!-- Callback modal window -->
		<div *ngIf="globals.show_callback" class="call-modal">
			<div class="call-modal-bg"></div>
			<div class="call-modal-form">
				<div class="call-modal-form-X">
					<fa name="times" (click)="close_modal('callback')"></fa>
				</div>
				<form id="callback-form" action="">
					<label for="call-modal-form-name">
					Введіть ваше ім"я</label>
					<input id="call-modal-form-name" type="" name="call-modal-form-name">
					<label for="call-modal-form-cell">
					Введіть номер телефону</label>
					<input id="call-modal-form-cell" type="" name="call-modal-form-cell">
					<span class="call-modal-form-info">
						Наші оператори звяжуться з вами
					</span>
					<button (click)="create_callback('callback-form')" type="button">Замовити дзвінок</button>
				</form>
			</div>
		</div>

		<!-- Subscription modal window -->
		<div *ngIf="globals.show_subs" class="subs-modal">
			<div class="subs-modal-bg"></div>
			<div class="subs-modal-form">
				<div class="subs-modal-X" (click)="close_modal('subs')">
					<fa name="times"></fa>
				</div>
				<form>
					<span class="subs-modal-form-info">
						Ви можете підписаться на щотижневу розсилку
					</span>
					<label for="subs-modal-form-email">
					Введіть емейл</label>
					<input id="subs-modal-form-email" type="" name="subs-modal-form-email">	
					<button>Підписатись</button>
				</form>
			</div>
		</div>

		<!-- Product modal window -->
		<div *ngIf="globals.show_product" class="prod-modal">

			<div class="prod-modal-wrapper">
				<div class="prod-modal-X">
					<fa (click)="close_modal('product')" name="times"></fa>
				</div>

				<div class="prod-modal-header">
					<h2>{{ globals.current_product.title }}</h2>
				</div>
				<div class="prod-modal-image">
					<img src="{{ globals.backend_domain}}{{ globals.current_product.image }}">
				</div>
				<div class="prod-modal-info">
					<p>
						<span>{{ globals.current_product.weight }}ккал</span>
						<span *ngIf="globals.current_product.pieces">{{ globals.current_product.pieces }} кусків</span>
					</p>
				</div>
				<div class="prod-modal-text">
					<p>{{ globals.current_product.description }}</p>
				</div>
				<div class="prod-modal-price">
					<p>{{ globals.current_product.price }}грн</p>
				</div>
				<div class="prod-modal-button">
					<button (click)="add_cart_item(globals.current_product.id)">Замовити</button>
				</div>
				<div class="prod-modal-arrows">
					<div class="prod-modal-arrows-left" (click)="show_product(prew_product_id)">
						<fa name="angle-left"></fa>
					</div>
					<div class="prod-modal-arrows-right" (click)="show_product(next_product_id)">
						<fa name="angle-right"></fa>
					</div>
				</div>
			</div>
		</div>

		<!-- Order section -->
		<div *ngIf="globals.current_page.title == 'Оформлення замовлення'" class="order row">
			<h1 class="order-header red">ОФОРМЛЕННЯ ЗАМОВЛЕННЯ</h1>
			<div class="order-list col-sm-9">
				<div *ngFor="let item of cart.items; let i = index" class="order-item row">
					<div class="order-item-close">
						<embed class="order-item-close-img" src="/assets/svg/X.svg">
						<div class="order-item-close-click" (click)="remove_cart_item(i)"></div>
					</div>
					
					<div class="order-item-img col-sm-3">
						<img src="{{ globals.backend_domain}}{{ item.item_image}}">
					</div>
					<div class="order-item-content col-sm-6">
						<p class="order-item-content-title">{{ item.item_name }}</p>
						<p class="order-item-content-description">{{ item.item_description }}</p>
						<div class="order-item-counter">
							<div class="order-item-counter-minus">
								<embed class="order-item-counter-minus" src="/assets/svg/minus.svg">
								<div class="order-item-counter-click" (click)="minus_cart_item(i)"></div>
							</div>
							<div class="order-item-counter-count">{{ item.item_count }} шт.</div>
							<div class="order-item-counter-plus order-item-counter-button">
								<embed class="order-item-counter-plus" src="/assets/svg/plus.svg">
								<div class="order-item-counter-click" (click)="plus_cart_item(i)"></div>
							</div>
						</div>

					</div>
					<div class="order-item-info col-sm-3">
						<p *ngIf="item.item_pieces" class="order-item-info-info">{{ item.item_weight }}г {{ item.item_pieces }} кусків</p>
						<div class="order-item-info-price">{{ item.item_total }}грн</div>
					</div>
				</div>

				<!-- <div class="order-adds">
					<div class="order-adds-item">
						<img src="{{ product_path }}">
					</div>
				</div>
 -->

			</div>

			<div class="order-propos col-sm-3">

				<div *ngFor="let category of globals.order_content; let index = index" class="prder-propos-block">
					<h2>{{ category.content.title }}</h2>
					<div class="order-propos-item">

						<fa name="chevron-circle-left" class="order-propos-item-left" (click)="changeCurrentPropos('left', index)"></fa>
						<img src="{{globals.backend_domain}}{{ category.current_content.image }}">
						<fa name="chevron-circle-right" class="order-propos-item-right" (click)="changeCurrentPropos('right', index)"></fa>

						<h3>{{ category.current_content.title }}</h3>
						<div class="order-propos-price">{{ category.current_content.price }}грн</div>
						<div class="order-propos-button" (click)="add_cart_item(category.current_content.id)">Додати</div>
					</div>
				</div>				
			</div>

			<div class="order-form col-md-9">
				<form id="order-form">
					<label for="order-form-name">
					Введіть вашу адресу доставки</label>
					<input id="order-form-name" type="text" name="order-form-name">
					<label for="order-form-cell">
					Введіть ваш номер телефону</label>
					<input id="order-form-cell" type="number" name="order-form-cell">
					<label for="order-form-name">
					Введіть ваше ім'я</label>
					<input id="order-form-name" type="text" name="order-form-name">
					<label for="order-form-text">
					Коментарій</label>
					<textarea id="order-form-text" type="text" name="order-form-text"></textarea>
					<button type="button" class="order-form-button-red red-bg" (click)="create_order('order-form')">Замовити</button>
					<button type="button" class="order-form-button-green">Оплатити карткою</button>
				</form>
			</div>

		</div>


		<!-- Message modal window -->
		<div *ngIf="globals.show_message" class="message-modal">
			<div class="message-modal-bg"></div>
			<div class="message-modal-form">
				<div class="message-modal-form-X">
					<fa name="times" (click)="close_modal('message')"></fa>
				</div>
				<form action="">
					<span class="message-modal-form-info">
						{{ globals.message }}
					</span>
					<button type="button" (click)="close_modal('message')">Закрити</button>
				</form>
			</div>
		</div>

	</div>
</div>